SignalR_ASP_WCF/LogStatusBroadcaster/LogStatusBroadcaster/Service References/MyServiceReference/mynamspace.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="mynamspace" elementFormDefault="qualified" targetNamespace="mynamspace" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ListenToEvents">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyClientResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>