SignalR_ASP_WCF/LogStatusBroadcaster/LogStatusBroadcaster/Service References/MyServiceReference/mynamspace.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="mynamspace" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="mynamspace" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="mynamspace/Imports">
      <xsd:import namespace="mynamspace" />
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMyWcfServiceAsync_ListenToEvents_InputMessage">
    <wsdl:part name="parameters" element="tns:ListenToEvents" />
  </wsdl:message>
  <wsdl:message name="IMyWcfServiceAsync_NotifyClient_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:NotifyClient" />
  </wsdl:message>
  <wsdl:message name="IMyWcfServiceAsync_NotifyClient_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:NotifyClientResponse" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="IMyWcfServiceAsync">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="ListenToEvents">
      <wsdl:input wsaw:Action="mynamspace/IMyWcfServiceAsync/ListenToEvents" message="tns:IMyWcfServiceAsync_ListenToEvents_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="NotifyClient">
      <wsdl:output wsaw:Action="mynamspace/IMyWcfServiceAsync/NotifyClient" message="tns:IMyWcfServiceAsync_NotifyClient_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="mynamspace/IMyWcfServiceAsync/NotifyClientResponse" message="tns:IMyWcfServiceAsync_NotifyClient_InputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>